@font-face
{
  font-family: 'PT Sans';
  font-style: normal;
  src:
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}
@font-face
{
  font-family: 'PT Sans';
  font-style: bold;
  src:
  url("../fonts/ptsans.woff2") format('woff2'),
  url("../fonts/ptsans.woff") format('woff');

}
:root {
  --basic-red: #FF0000;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-white: #ffffff;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-grey: #CACACA;
  --basic-grey: #A9A9A9;
  --basic-grey-line: #E5E5E5;
  --basic-dark-grey: #666666;

  --special-black: #231F20;
}

.page-body
{
  max-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

body
{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  width: 1200px;
  text-transform: uppercase;

}

.container
{
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header
{
    width: 1200px;

}
.main-navigation-wrapper
{
 padding: 0;
}

.header-logo
{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation
{
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-top: 13px;
    padding-bottom: 17px;
    line-height: 26px;
}

.site-navigation a
{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  font-weight: bold;
}
.site-navigation li
{
  box-sizing: border-box;
  width: 240px;
  list-style: none;
}
.site-navigation li:nth-child(1)
{
  padding-left: 10px;
}

.site-navigation li:nth-child(2)
{
  margin-right: 230px;
  text-align: center;
}
.site-navigation li:nth-child(3)
{
  text-align: center;
  margin-left: 50px;
}
.site-navigation li:nth-child(4)
{
    padding-right: 72px;
    text-align: right;
}
.go-to
{
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.h1
{
color: var(--basic-black);
font-size: 21px;
font-weight: bold;
line-height: 26px;
}

.description-main
{
  text-align: center;
  width: 1200px;
  padding: 50px 0;
}
.features-left
{
  width: 400px;
  height: 256px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-light-blue);
}

.features-fon-left
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 49px
}
.features-right
{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  height: 256px;
  background-color: var(--basic-light-blue);

}
.features-fon-right
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 49px
}
.rectangle
{
  width: 400px;
  height: 256px;
  background: var(--basic-light-blue)
}

.heder-filter h3
{
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 25px;
}
.heder-filter
{
  width: 256px;
  display: block;
}
.filter-check
{
  padding: 0;
  margin: 0;
}
.filter-option li
{
  margin-bottom: 25px;
}
.heder-filter label
{
  padding-left: 30px;
  margin-bottom: 25px;
  position: relative;
}

.filter-input-checkbox
{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearnce: none;
  appearance: none;
}
.filter-input-checkbox:checked+.check_box
{
  background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox:focus+.check_box
{
  background-image: url(../img/checkbox-off.svg);
}
.filter-input-checkbox:checked:focus+.check_box
{
  background-image: url(../img/checkbox-on.svg);
}
.check_box
{
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.sort_block
{
  align-items: baseline;
  background: var(--basic-white);
  border-bottom: 1px solid var(--basic-grey-line);
  padding: 29px 72px 30px 72px;

}
.filters
{
  display: flex;
  flex-grow: 1;
  text-align: left;
  align-items: baseline;
}

.sort
{
  display: flex;
  font-size: 12px;
}
.sort p
{
  padding-left: 48px;
}
.sort_by
{
  display: flex;
  padding-left: 40px;
}
.sort_by li
{
  padding-left: 41px;
}
.sort_by .act
{
  text-decoration: none;
  color: var(--basic-light-blue);
  border: none;
  opacity: var(--basic-black);
}

.sort_by a:hover,
.sort_by a:focus
 {
  color: var(--basic-light-blue);
}
.sort_by a:checked,
.sort_by a:focus
{
  color: var(--basic-black);
  opacity: 0;
}
.sort_by a
{
  opacity: 30%;
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: 1px dotted var(--basic-light-blue);
}

.sort_range
{
  display: flex;
  flex-grow: 1;
  margin-left: 400px;
}

.sort_range_list
{

  display: flex;
}
.arrow:hover
.arrow:focus
{
  color: var(--basic-black);
}
.star-4
{
  width: 92px;

}

.star-3
{
  width: 70px;

}
.star-2
{
  width: 40px;

}
.star
{
  display: flex;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  align-items: flex-end;
  margin-left: auto;

}
.choice-form
{
  display: flex;
  padding: 0 72px;
  padding-top: 26px;
  padding-bottom: 7px;
  width: 1056px;
}
.choice
{
  background-image: url('../img/background.jpg');
  width: 1200px;
  height: 217px;
  display: flex;
  display: block;
  flex-grow: 1;
  color: var(--basic-white);
}

.cost-filter-title
{
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: bold;
}
.cost-filter
{
  position: relative;
  box-sizing: border-box;
  width: 528px;
  padding-left: 200px;
  display: block;
}
.cost-control
{
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 32px;
}

.cost-control input
{
  width: 50px;
    color: inherit;
    font: inherit;
    border: none;
    background: none;
    line-height: 32px;
}
.cost-control .cost-from
 {
  padding-left: 64px;
}
.cost-control label
{
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 90px;
}
.cost-control .cost-to
{
  padding-left: 57px;
}
.cost-range
{
  position: relative;
}
.cost-range .scale
{
  height: 2px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.cost-range .bar
{
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}
.range-toggle
{
  position: absolute;
  top: -9px;
  left: 10px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background: var( --basic-grey);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-toggle-max
{
  left: 80%;
}
.choice-form button
{
  margin-top: 29px;
  margin-left: 85px;
  padding: 6px 35px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: none;
  font-size: 14px;
  line-height: 20px;
}
.offer
{
    text-align: center;
    padding: 0 316px;
}

.main-header-logo
{
  background-image: url('../img/backgroundphoto.jpg');
  width: 1200px;
  height: 509px;
  display: flex;
  display: block;
  text-align: center;

}

.main-text-logo
{
  margin-top: 76px;
  margin-bottom: 23px;

}

.features
{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  color: var(--basic-white);
}

.advantages
{
  padding: 0;
  text-align: center;
}
.list
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

}

.item
{
  padding-top: 58px;
  padding-bottom: 67px;
  text-align: center;
}

.advantages-small
{
  padding: 0;

}

.list-small
{ display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}
.item-small
{
  text-align: center;

}
.item-small p
{
  margin-top: 30px;
}
.catalog-hotel
{
  padding: 0;
  margin: 0;
 }

.catalog-item
{
  display: flex;
  padding: 25px 72px;
  border-bottom: 1px solid var(--basic-grey-line);
 }

.description
{
  margin-left: 29px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  display: block;
  width: 781px;
  min-height: 100px;
}

.more a
{
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  padding: 3px 17px;
}
.reservation a
{
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
  padding: 3px 17px;
}

.hotel-name
{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.hotel-name a
{
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-category
{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.rating
{
  padding: 0;
  padding-top: 60px;
  margin: 0;
}
.catalog-button {
  position: absolute;
  margin-right: 6px;
}

.map
{
  display: block;
  background: url("../img/map.png");
  width: 1199px;
  height: 594px;
  position: relative;
  }
.button-more
{
  width: 110px;
  height: 27px;
  background: var(--basic-light-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align:  center;
  padding: 3px 17px;
  text-decoration: none;
}

.button-reservation
{
  width: 142px;
  height: 27px;
  background: var(--basic-light-brown);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  padding: 3px 17px;
  text-decoration: none;
}

.offer
{
  text-align: center;
  padding: 0 auto;
}
.offer a
{
  display: block;
  margin: 0;
  padding: 40px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.offer h1
{
  margin-top: 58px;
}
.search
{
  text-align: center;
}

.main-footer
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 138px 36px 111px;
}

li
{
  position: relative;
  list-style-type: none;
}

.copyright
{
  display: flex;
  flex-direction: row;
  max-width: 200px;
  align-items: center;
}

.contacts p
{
  margin: 0;
}

.contacts h2
{
  margin: 0;
}
.footer-social
{
  align-items: center;
  }
.footer-social ul
 {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-social h2
 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  display: block;
}
.img
{
  display: block;
}
.footer-copyright
{
  display: block;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  margin-left: 6px;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}
.social-button:hover path,
.social-button:focus path {
  background-color: var(--basic-dark-blue);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-in
{
  display: flex;
}
.modal
{
 width: 568px;
 height: 395px;
 left: 0;
 right: 0;
 margin: auto;
 box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
 background-color: var(--basic-white);
 display: grid;
 box-sizing: border-box;
 padding: 55px;
 }

 .modal input
 {
  text-transform: uppercase;
  border: none;
 }
 .amount
 {
display: flex;
}

 .amount input
 {
   width: 37px;
 }

 .amount label
 {
text-decoration: none;
 }

