@font-face
{
  font-family: 'PT Sans';
  font-style: normal;
  src:
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}
@font-face
{
  font-family: 'PT Sans';
  font-style: bold;
  src:
  url("../fonts/ptsans.woff2") format('woff2'),
  url("../fonts/ptsans.woff") format('woff');

}
:root {
  --basic-red: #FF0000;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-white: #ffffff;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-grey: #CACACA;
  --basic-grey: #A9A9A9;
  --basic-grey-line: #E5E5E5;
  --basic-dark-grey: #666666;

  --special-black: #231F20;
}

.page-body
{
  max-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

body
{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  width: 1200px;

}

.container
{
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header
{
    width: 1200px;

}
.main-navigation-wrapper
{
 padding: 0;
}

.header-logo
{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.div
{
  display: block;
}

.site-navigation
{
    display: flex;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 17px;
    line-height: 26px;
}

.site-navigation a
{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  font-weight: bold;
}
.site-navigation li
{
  box-sizing: border-box;
  width: 240px;
  list-style: none;
}
.site-navigation li:nth-child(1)
{
  padding-left: 72px;
}

.site-navigation li:nth-child(2)
{
  margin-right: 240px;
  text-align: center;
}
.site-navigation li:nth-child(3)
{
  text-align: center;
}
.site-navigation li:nth-child(4)
{
    padding-right: 72px;
    text-align: right;
}
.go-to
{
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.h1
{
color: var(--basic-black);
font-size: 21px;
font-weight: bold;
line-height: 26px;
}

.description-main
{
  text-align: center;
  width: 1200px;
  padding: 50px 0;
}
.features-left
{
  width: 400px;
  height: 256px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-light-blue);
}

.features-fon-left
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 49px
}
.features-right
{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  height: 256px;
  background-color: var(--basic-light-blue);

}
.features-fon-right
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 49px
}
.rectangle
{
  width: 400px;
  height: 256px;
  background: var(--basic-light-blue)
}

.filtr
{
  background-image: url('../img/background.jpg');
  width: 1200px;
  height: 217px;
}

.offer
{
    text-align: center;
    padding: 0 316px;
}

.main-header-logo
{
  background-image: url('../img/backgroundphoto.jpg');
  width: 1200px;
  height: 509px;
  display: flex;
  display: block;
  text-align: center;

}

.main-text-logo
{
  margin-top: 76px;
  margin-bottom: 23px;

}

.features
{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  color: var(--basic-white);
}

.advantages
{
  padding: 0;

}
.list
{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item
{
  padding-top: 58px;
  padding-bottom: 67px;
  text-align: center;

}

.advantages-small
{
  padding: 0;

}

.list-small
{ display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}
.item-small
{
  text-align: center;

}
.item-small p
{
  margin-top: 30px;
}
.catalog-hotel
{
  padding: 0;
  margin: 0;
}

.catalog-item
{
  display: flex;
  padding: 25px 72px;
 }
.filters
{
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  gap: 10px;
  padding: 25px 72px;
  align-items: baseline;
}

.description
{
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  display: block;
  border-bottom: 1px solid var(--basic-grey-line);
  width: 781px;
  min-height: 100px;

}
.hotel-name
{
  padding: 0;
  margin: 0;
}

.catalog-category
{
  padding: 0;
  margin: 0;
}
.rating
{
  padding: 0;
  margin: 0;
}
.catalog-button {
  position: absolute;
  margin-right: 6px;
}

.map
{
  display: block;
  background: url("../img/map.png");
  width: 1199px;
  height: 594px;
  position: relative;
  }
.button-more
{
  width: 110px;
  height: 27px;
  background: var(--basic-light-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align:  center;
}

.button-reservation
{
  width: 142px;
  height: 27px;
  background: var(--basic-light-brown);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.offer
{
  text-align: center;
  padding: 0 auto;
}
.offer a
{
  display: block;
  margin: 0;
  padding: 40px;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.offer h1
{
  margin-top: 58px;
}
.search
{
  text-align: center;
}
.main-footer
{
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align:  center;
  max-height: 120px;

  }
li
{
  list-style-type: none;
}

.copyright
{
  display: flex;
  flex-direction: row;
  max-width: 200px;
  margin-top: 49px;
  text-align: center;
}

.contacts
{
  margin-top: 23px;
  margin-bottom: 36px;
}
.footer-social
{
   text-align: center;
  margin-top: 36px;
  }
.footer-social ul
 {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-social h2
 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  display: block;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  margin-left: 6px;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}
.social-button:hover path,
.social-button:focus path {
  background-color: var(--basic-dark-blue);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal
{
 width: 300px;
 height: 50px;
 text-align: center;
 padding: 15px;
 border: 3px solid #0000cc;
 border-radius: 10px;
 color: #0000cc;
}
